language: c

sudo: false

notifications:
  email: false

env:
  global:
    - CONDA_DEPENDENCIES="glueviz pytest mock vispy"
  matrix:
    - PYTHON_VERSION=2.7
    - PYTHON_VERSION=3.4
    - PYTHON_VERSION=2.7 PIP_DEPENDENCIES="https://github.com/vispy/vispy/archive/master.zip" PIP_DEPENDENCIES_FLAGS="--upgrade --no-deps"
    - PYTHON_VERSION=3.5 PIP_DEPENDENCIES="https://github.com/vispy/vispy/archive/master.zip" PIP_DEPENDENCIES_FLAGS="--upgrade --no-deps"

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - git clone git://github.com/astropy/ci-helpers.git
  - source ci-helpers/travis/setup_conda_$TRAVIS_OS_NAME.sh

script:
  - py.test glue_vispy_viewers
